/config.*
/src/luarocks/core/hardcoded.lua
/testrun/*
/lua_install
# Stuff that pops up during development but shouldn't be in the repo (helps clean up `git status`)
/target
/*.rock
/*.tar.gz
/*.zip
/luarocks
/luarocks-admin
/.luacheckcache
/vendor/**/*.o
/vendor/**/*.so
/vendor/lua-*/src/liblua.*
/vendor/lua-*/src/lua
/vendor/lua-*/src/luac
